# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
backend/__pycache__/
backend/*.py[cod]

# Backend: Virtual environment
backend/venv/

# Backend: Environment variables
backend/.env

# Backend: Editor/IDE settings (optional)
backend/.vscode/


/backend/app/__pycache__/
/backend/venv/
/backend/.env
# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
